@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

p {
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 1rem;
}

a {
  color: blue;
  text-decoration: underline;
}
